@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
    font-family: Josefin Slab;
}

header {
    background-color: #7D8F40;
    color: white;
    padding: 2rem;
}

nav {
    text-align: center;
}

a {
    display: inline-block;
    justify-content: center;
    flex-direction:row;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

h1 {
    font-size: 48px;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #7D8F40;
}