<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="/sobre.css">
</head>
<body>
    <header>
        <div>
            <nav>
                <a href="index.html">Sobre |</a>
                <a href="portfolio.html">Portfólio |</a>
                <a href="curriculo.html">Currículo |</a>
                <a href="contato.html">Contato</a>
            </nav>
        </div>
    </header>
    <main>
        <h1>BEM-VINDO!</h1>
        <div class="sobre">
            <div class="texto">
                <p>Sou a Gabrielle Novaes, tenho 19 anos, nasci e cresci em São José dos Campos e sou estudante de Análise e Desenvolvimento de Sistemas (ADS) na Faculdade de Tecnologia (FATEC).</p>
                <p>Estudei no Colégio Embraer durante o meu ensino médio e tive a oportunidade de participar como diretora no projeto voluntário educacional Voe Alto.</p>
                <p>Fora do código sou apaixonada pelos trabalhos manuais como artesanatos, crochê e bordados feitos à mão.</p>
            </div>
            <div class="foto">
                <img src="/image1.png" alt="Meu avatar">
            </div>
        </div>
        <div class="linha">
            <hr>
        </div>
        <h2>Habilidades</h2>
        <div class="habilidades">
            <div class="1">
                <h4>UI Design</h4>
                <h4>UX Design</h4>
            </div>
            <div class="2">
                <h4>Identidade Visual</h4>
                <h4>HTML/CSS</h4>
            </div>
        </div>
    </main>
</body>
</html>